<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= cl_image_path @combi.photo %>)">
</div>

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="combi_info">
          <h3>Model: <%= @combi.model %></h3>
          <p><%= @combi.description %></p>
          <p>address: <%= "#{@combi.address} #{@combi.city}" %></p>
          <h3>Price per day: <%= @combi.price %> €</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="reservation_card">
          <h2>Road trip card</h2>
          <!-- A modifier avec la recherche-->
          <p>The date:</p>
          <p>12/08/2018</p>
          <p>Address:</p>
          <p>
            <%= "#{@combi.address} #{@combi.city}" %>
          </p>
          <p>For:</p>
          <p><%= @combi.price %> €</p>
          <%= link_to "Book it now!", dashboard_path,
            class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
