
<% if @combi && @combi.photo_url %>
  <div class="banner" style="background-image: url(<%= cl_image_path @combi.photo %>)">
  </div>
<% end %>
<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="combi_info">
          <h3>Model: <%= @combi.model %></h3>
          <p><%= @combi.description %></p>
          <p>address: <%= "#{@combi.address} #{@combi.city}" %></p>
          <h3>Price per day: <%= @combi.price %> €</h3>
          <% @combi.bookings.each do |booking| %>
            <h4>
              <%= booking.review_title%>
            </h4>
            <p> <%= booking.review_content %></p>
            <p> <%= booking.review_rating %></p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="reservation_card">
          <h3>Combi road trip</h3>
          <!-- A modifier avec la recherche-->
          <p>Address:</p>
          <p>
            <%= "#{@combi.address} #{@combi.city}" %>
          </p>
          <p>For:</p>
          <p><%= @combi.price %> €</p>
          <p>Date:</p>
          <%= form_tag [@combi, @booking], method: :post do %>
            <input type="date" name="begin_date">
            <input type="date" name="end_date">
            <hr>
            <%= submit_tag "Book it NOW!", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
