
<% if @combi && @combi.photo_url %>
  <div class="banner" style="background-image: url(<%= cl_image_path @combi.photo %>)">
  </div>
<% end %>
<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="combi_info">
          <h4>Model: <%= @combi.model %></h4>
          <p><%= @combi.description %></p>
          <p>address: <%= "#{@combi.address} #{@combi.city}" %></p>
          <h4>Price per day: <%= @combi.price %> €</h4>
        </div>
        <div class="combi_review">
          <h4>Reviews:</h4>
          <ul class="without_deco">
            <% @combi.bookings.each do |booking| %>
              <% if booking.review_content %>
                <li class="border_around">
                  <div class="display-in-line">
                    <div class="review_title">
                      <%= booking.review_title%>
                    </div>
                    <div class="review_rating">
                      <%= booking.review_rating %>
                    </div>
                  </div>
                  <div class="review_content">
                    <%= booking.review_content %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>

        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="reservation_card">
          <h4>Combi road trip</h4>
          <!-- A modifier avec la recherche-->
          <p>Address:</p>
          <p>
            <%= "#{@combi.address} #{@combi.city}" %>
          </p>
          <p>For:</p>
          <p><%= @combi.price %> €</p>
          <p>Date:</p>
          <%= form_tag [@combi, @booking], method: :post do %>
            <input type="date" name="begin_date">
            <input type="date" name="end_date">
            <%= submit_tag ("Book it NOW!") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
