<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= combi.photo.present? ? cl_image_path(combi.photo, crop: :fill) : image_path('logo.jpg') %>);">
  <div class="card-category"><%= combi.model %></div>
  <div class="card-description">
    <h2><%= combi.price %></h2>
  </div>
  <%= cl_image_path ( combi.user.photo,
      width: 400, height: 300, crop: :fill),
      :class => "card-user" %>
  <%= link_to "", combi_path(combi), :class => "card-link"%>
</div>
